body {
    color: #210203;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;
    margin-bottom:2rem;
    background-color: #fcf0f0;
    /* background-image: url("assets/images/gradient.png");
    background-size: cover;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-attachment: scroll; */
}
    
h1, h2, h3, h4, h5, h6 {
    
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    /* letter-spacing: 0.1rem; */
    color: #41449F;
}

h2 {
    font-size: 36px;
}

h3 {
    color:#210203;
    font-size: 36px;
}

h5 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
}

a, i {
    color: #41449F;
}

a:hover, i:hover {
    color:#210203;
}

a:hover, .nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.proj-pic {
    border-radius: 10px;
    
}

.proj-name {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 5% 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    color: #41449F;
    
}

.proj-name-big {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 5% 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    color: #41449F;
    
}

#about {
    padding: 0px;
    height: 70vh;
    font-size: 1.8rem;
    line-height: 1.2;
}

#tools {
    display: none;
}

.light {
    color: #41449F;
}

.proj-pic:hover {
    filter: drop-shadow(0px 0px 10px #6e71c2bd);
}

strong {
    color:#36003F;
    font-weight:normal
}

em {
    font-style: normal;
    font-weight: bold;
}

.btn {
    background-color: #41449F;
    color:#FFF8F8;
    font-size:18px;
    line-height:2rem;
    border:0px;
    border-radius: 50px;
    padding: 10px 30px;
}

.btn:hover,.btn:active,.btn:focus {
    font-weight: normal;
    background-color:#210203;
}

img {
    width:100%
}

.icon {
    width:auto
}

.indent{
    padding-left:1.9rem
}

/* #badges {
    color: #41449F;
    font-size:0.6rem;
    line-height:1rem
} */

hr {
    border-top: 1px solid #41449F;
}

.quote-pink {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #D13878;
}

.quote-blue {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #5182cd;
}

.quote-green {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #529f74;
}

.space {
    height: 30px;
}

.tag {
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(227, 227, 227);
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(78, 78, 94);
    padding: 6px 12px;
    margin: 0 5px 10px 0;
    cursor: pointer;   
  }

.tagline {
    margin-top: 15px;
}




